.dashboard-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1900px;
  }
  
  .dashboard-header {
    position: absolute;
    text-align: center;
    margin: 30px;
    padding: auto;
  }
  
  .cards-grid {
    margin-left: 30px;
    margin-top: 100px;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .cards-grid a {
    list-style: none;
    text-decoration: none;
  }
  
  .dashboard-card {
    display: flex;
    width: 280px;
    height: 100px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .dashboard-card:hover {
    transform: translateY(-5px);
  }
  
  .card-icon1 {
    font-size: 2rem;
    color: #FFE102;
    margin-bottom: 10px 0 10px 0;
  }

  .card-icon2 {
    font-size: 2rem;
    color: #3CA200;
    margin-bottom: 10px 0 10px 0;
  }

  .card-icon3 {
    font-size: 2rem;
    color: #002366;
    margin-bottom: 10px 0 10px 0;
  }

  .card-icon4 {
    font-size: 2rem;
    color: #808080;
    margin-bottom: 10px 0 10px 0;
  }

  .card-icon5 {
    font-size: 2rem;
    color: #008080;
    margin-bottom: 10px 0 10px 0;
  }

  .card-icon6 {
    font-size: 2rem;
    color: #FF7F50;
    margin-bottom: 10px 0 10px 0;
  }

  .card-icon7 {
    font-size: 2rem;
    color: #bdbdff;
    margin-bottom: 10px 0 10px 0;
  }

  .card-icon8 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 10px 0 10px 0;
  }

  .card-icon9 {
    font-size: 2rem;
    color: #FF0000;
    margin-bottom: 10px 0 10px 0;
  }

  
  .card-content h3 {
    margin: 5px 0px 0px 10px;
    color: #333;
  }
  
  
  .card-value {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
    color: #2c3e50;
  }


  
